In [1]:
!pip instal yfinance --q
import yfinance as yf
import pandas as pd

In [12]:
# Nifty 50 stocks
stocks = pd.read_csv('Nifty_stocks.csv')
stocks.head()

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE \n (₹ Crores),52W H \n,52W L \n,30 D %CHNG \n,365 D % CHNG \n 27-Mar-2023
0,NIFTY 50,"22,053.95","22,193.60","22,052.85","22,004.70","22,123.65",118.95,0.54,"40,91,36,866","38,830.51","22,526.60","17,204.65",0.01,30.51
1,RELIANCE,"2,896.00","3,000.00","2,894.00","2,883.15","2,983.75",100.60,3.49,"81,63,322","2,426.29","3,024.90","2,200.20",0.37,32.82
2,MARUTI,"12,290.00","12,722.70","12,285.70","12,250.55","12,560.00",309.45,2.53,"8,78,986","1,103.86","12,722.70","8,140.00",9.10,52.40
3,BAJAJ-AUTO,"8,959.00","9,287.80","8,926.70","8,960.55","9,154.00",193.45,2.16,"10,34,030",947.16,"9,287.80","3,769.55",8.46,141.65
4,BAJFINANCE,"6,945.75","7,049.00","6,905.00","6,910.10","7,029.00",118.90,1.72,"15,51,275","1,083.88","8,192.00","5,522.70",5.71,26.89

In [14]:
stocks.columns = stocks.columns.str.strip()

In [16]:
stocks.head()

,SYMBOL,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CHNG,%CHNG,VOLUME \n(shares),VALUE \n (₹ Crores),52W H,52W L,30 D %CHNG,365 D % CHNG \n 27-Mar-2023
0,NIFTY 50,"22,053.95","22,193.60","22,052.85","22,004.70","22,123.65",118.95,0.54,"40,91,36,866","38,830.51","22,526.60","17,204.65",0.01,30.51
1,RELIANCE,"2,896.00","3,000.00","2,894.00","2,883.15","2,983.75",100.60,3.49,"81,63,322","2,426.29","3,024.90","2,200.20",0.37,32.82
2,MARUTI,"12,290.00","12,722.70","12,285.70","12,250.55","12,560.00",309.45,2.53,"8,78,986","1,103.86","12,722.70","8,140.00",9.10,52.40
3,BAJAJ-AUTO,"8,959.00","9,287.80","8,926.70","8,960.55","9,154.00",193.45,2.16,"10,34,030",947.16,"9,287.80","3,769.55",8.46,141.65
4,BAJFINANCE,"6,945.75","7,049.00","6,905.00","6,910.10","7,029.00",118.90,1.72,"15,51,275","1,083.88","8,192.00","5,522.70",5.71,26.89

In [20]:
nifty_stocks = pd.Series(stocks['SYMBOL'][1:])
nifty_stocks

1       RELIANCE
2         MARUTI
3     BAJAJ-AUTO
4     BAJFINANCE
5          TITAN
6     ADANIPORTS
7       HDFCBANK
8      KOTAKBANK
9       AXISBANK
10           M&M
11    INDUSINDBK
12    BHARTIARTL
13            LT
14     SUNPHARMA
15    ASIANPAINT
16      ADANIENT
17    ULTRACEMCO
18          NTPC
19           ITC
20     TATASTEEL
21     ICICIBANK
22     EICHERMOT
23    HINDUNILVR
24     POWERGRID
25      HINDALCO
26          ONGC
27         TECHM
28      HDFCLIFE
29         CIPLA
30       SBILIFE
31      JSWSTEEL
32          INFY
33          SBIN
34          BPCL
35    BAJAJFINSV
36           TCS
37     NESTLEIND
38    TATAMOTORS
39      DIVISLAB
40     BRITANNIA
41       HCLTECH
42     COALINDIA
43          LTIM
44        GRASIM
45    TATACONSUM
46       DRREDDY
47    APOLLOHOSP
48         WIPRO
49    HEROMOTOCO
50           UPL
Name: SYMBOL, dtype: object

In [25]:
start_date = '2020-01-01'
end_date = '2024-01-01'

nifty_data = {}
for stock in nifty_stocks:
    data = yf.download(f'{stock}.NS', start=start_date, end=end_date)
    nifty_data[stock] = data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [26]:
nifty_data['RELIANCE']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,1387.957031,1396.277466,1376.527954,1380.276611,1360.645142,7002234
2020-01-02,1382.471069,1408.941040,1382.471069,1403.775024,1383.809326,8855158
2020-01-03,1401.671997,1409.581055,1392.528687,1405.466553,1385.476807,10492349
2020-01-06,1389.785767,1397.008911,1369.670410,1372.870605,1353.344482,12259588
2020-01-07,1388.871338,1403.043579,1383.842529,1393.991699,1374.165283,8341811
...,...,...,...,...,...,...
2023-12-22,2559.600098,2580.899902,2547.649902,2565.050049,2565.050049,8270892
2023-12-26,2568.000000,2591.949951,2562.699951,2578.050049,2578.050049,3732832
2023-12-27,2582.000000,2599.899902,2573.100098,2586.850098,2586.850098,4602078
2023-12-28,2589.800049,2612.000000,2586.850098,2605.550049,2605.550049,6151318
2023-12-29,2611.100098,2614.000000,2579.300049,2584.949951,2584.949951,5432292

In [ ]:
# We got data for all 50 stocks from 2020 to 2023 = last 4 years

# Train Stock Price Prediction Models :

In [27]:
nifty_data['ONGC']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01,128.750000,128.899994,126.849998,127.449997,94.765083,2574894
2020-01-02,127.650002,128.649994,127.099998,128.050003,95.211220,4759843
2020-01-03,131.000000,133.399994,128.050003,128.449997,95.508621,31381588
2020-01-06,129.699997,129.800003,125.099998,126.250000,93.872833,14611204
2020-01-07,125.599998,127.699997,125.400002,125.750000,93.501053,7193304
...,...,...,...,...,...,...
2023-12-22,204.000000,204.500000,201.800003,203.949997,201.008057,9910694
2023-12-26,204.500000,208.500000,203.649994,207.350006,204.359024,17052969
2023-12-27,209.500000,209.899994,204.500000,205.550003,202.584991,20361303
2023-12-28,206.500000,208.899994,205.350006,208.300003,205.295319,22010872
2023-12-29,208.000000,208.000000,204.250000,205.050003,202.092194,12171663